<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div id="filters">
                <h2>Filters</h2>
                <label for="search-title">Search Title:</label>
                <input type="text" id="search-title" class="form-control">
                <label for="search-body">Search Body:</label>
                <input type="text" id="search-body" class="form-control">
                <label for="start-date">Start date:</label>
                <input type="date" id="start-date" class="form-control">
                <label for="end-date">End date:</label>
                <input type="date" id="end-date" class="form-control">
                <button id="filter-button" class="btn btn-primary mt-3" onclick="applyFilters()">Search</button>
            </div>
        </div>

        <div class="col-md-8">
            <div id="news-list">
                <h1>News</h1>
                {% for news_item in news %}
                    <div class="news-item" data-title="{{ news_item.title }}" data-body="{{ news_item.body }}" data-created-date="{{ news_item.created_date }}">
                        <h2>{{ news_item.title }}</h2>
                        <p>{{ news_item.formatted_date }}</p>
                        <div class="news-body collapse" id="news-body-{{ loop.index }}">
                            {{ news_item.body | safe }}
                        </div>
                        <button class="expand-button" data-toggle="collapse" data-target="#news-body-{{ loop.index }}">Show all</button>
                        <img src="{{ url_for('static', filename=news_item.heropic) }}" alt="Image">
                        <p><strong>View count:</strong> {{ news_item.view_count }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="/static/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
